In [2]:
import pandas as pd

restaurant = pd.read_csv('dataset/restaurant_n.csv', sep='\t')

In [3]:
restaurant

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.9,Too Few Ratings,200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,100,Beverages
3,187912,Singh Hut,Abohar,3.7,20+ ratings,250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.9,Too Few Ratings,250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148250,553122,The Food Delight,Yavatmal,3.9,Too Few Ratings,200,"Fast Food,Snacks"
148251,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.9,Too Few Ratings,300,Pizzas
148252,559435,Cafe Bella Ciao,Yavatmal,3.9,Too Few Ratings,300,"Fast Food,Snacks"
148253,418989,GRILL ZILLA,Yavatmal,3.9,Too Few Ratings,250,Continental
148254,447770,Lazeez kitchen,Yavatmal,3.9,Too Few Ratings,200,Pizzas

In [20]:
orders = orders.dropna()
orders.drop_duplicates(keep=False, inplace=True)

C:\Users\DUY LINH\AppData\Local\Temp\ipykernel_24604\3846066472.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders.drop_duplicates(keep=False, inplace=True)

Xóa các đơn đặt hàng có doanh thu âm, thanh toán bằng USD

In [18]:
orders = orders[orders['sales_amount'] > 0]
orders = orders[orders['currency'] != 'USD']

In [28]:
orders_n.shape

(147061, 5)

Xuất data đã được chuẩn hóa

In [107]:
restaurant.to_csv('dataset/restaurant_n.csv', 
                  columns=['id', 'city', 'rating', 'rating_count'
                           , 'cost', 'cuisine']
                  , sep='\t', index=False)

geopy

In [112]:
restaurant['city'].sort_values().unique()

array(['', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam',
       'Auvergne-Rhône-Alpes', 'Banda', 'Bihar', 'Centre-Val de Loire',
       'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jawa Tengah', 'Jharkhand', 'Karnataka',
       'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
       'Mizoram', 'Nagaland', 'Nouvelle-Aquitaine', 'Occitanie', 'Odisha',
       'Oregon', 'Puducherry', 'Punjab', 'Rajasthan', 'Sardigna/Sardegna',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal', 'Île-de-France', 'استان خراسان رضوی'],
      dtype=object)

Lấy tên bang từ thông tin địa chỉ, tên thành phố

In [113]:
formated_city = []
wrong_format_city = {'Bapatlachirala': 'Chirala', '':'Uttar Pradesh', 
                     'Bharabanki':'Barabanki', 'Bodhan-rural':'Bodhan',
                     'Bongaon':'Bangaon', 'Karunagappaly':'Karunagappally',
                     'Kothamanagalam':'Kothamangalam', 'Kunnamkullam':'Kunnamkulam',
                     'Surendranagar-dudhrej':'Surendranagar', 'Banda':'Uttar Pradesh'}

for index, row in restaurant.iterrows():
    city = row['city']
    
    if city not in formated_city:
    
        last_city = city.rpartition(',')[-1]
        
        restaurant.loc[restaurant['city'] == city, 'city'] = last_city
        formated_city.extend([city])
        
    for key, value in wrong_format_city.items():
        if city == key:
            restaurant.loc[restaurant['city'] == city, 'city'] = value

In [ ]:
from geopy.geocoders import Nominatim

formated_state_city = []
geolocator = Nominatim(user_agent="http")

for index, row in restaurant.iterrows():
    city = row['city']

    if city not in formated_state_city:
        location = geolocator.geocode(city, addressdetails=True)

        full_address = location.raw['address']
        state = full_address.get('state', '')

        restaurant.loc[restaurant['city'] == city, 'city'] = state
        formated_state_city.extend([city])